<!--
{{formresponse.term}} <br>
{{formresponse.studentname}} <br>
{{formresponse.storename}} <br>
{{formresponse.storeaddress}} <br>
{{formresponse.storecity}} <br>
{{formresponse.storestate}} <br>
{{formresponse.storeowner}} <br>
{{formresponse.otherInfo}} <br>
-->
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>Student Scores</title>
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body id = "fourth" background = "images/logo4.png">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "col-sm-12" id= "head1">Thank You For Submitting {{formresponse.studentname}} Score.</div>
     <br>
    <br>
    <br>
    <br>
    <br>
     <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "col-xs-6 col-sm-12" id= "head1">Would You Like To Go To Your Stduent Score Analysis?</div>
    <div class = "col-xs-6 col-sm-0" id= "head1">
    <br>
    <br>
    <br>
    <br>
    </div>
    <div class = "col-sm-12" id= "head1"><a href ="/radarChart">Fall Semester</a></div>
    <div class = "col-sm-12" id= "head1"><a href ="/radarChart1">Spring Semester</a></div>
    <br>
    <br>
    <br>
    <br>
</body>
</html>