<div id="mainRes">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "col-sm-12" id="third"><img src="/images/logo2.jpeg" alt=""></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "col-sm-12" id="first"><a href="/uploadlocation">Caculate Your Student Score</a></div>
    <div class = "col-sm-12" id="second">This Website helps you collect and analyse students data. <br>It helps you get a better understanding of your students scores.</div>
    

</div>